.DS_Store
public
resources
.idea
content/.obsidian/*
!content/.obsidian/plugins
content/.obsidian/plugins/*/*
!content/.obsidian/plugins/*/manifest.json
assets/indices/linkIndex.json
assets/indices/contentIndex.json
linkmap
