.DS_Store
public
.idea
node_modules
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix
content/.obsidian/*
!content/.obsidian/plugins
content/.obsidian/plugins/*/*
!content/.obsidian/plugins/*/manifest.json
assets/indices/linkIndex.json
assets/indices/contentIndex.json
linkmap

content/notes/University Applications/resources/*
